.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header2{
    display: flex;
    padding: 120px;
    gap: 20px;
}

.text{
    display: flex;
    flex-direction:column;
    flex: 1;
}

.text1{
    font-size:48px;
    font-weight: 800;
}

.text2{
    font-size: 18px;
    margin-top: 10px;
}

button{
    background-color: #3882f6;
    font-weight: bold;
    padding: 3px 20px;
    border-radius: 5px;
    margin-top: 10px;
    color:#f9faf8 ;
}

ul{
    gap: 16px;
    padding: 0;
    list-style: none;
    display: flex;
    font-size: 18px;
}
